/*document*/
html {
  scroll-behavior: smooth;
}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

.row{
  padding: 20px 0;
}

.pad{
  padding-bottom: 5px;
}

/*text*/
h1,h2,h3,h4,h6{
  font-family: 'Poppins', sans-serif !important;
}

p{
  font-family: 'Roboto', sans-serif !important;
  line-height: 2.2;
}

.bold{
  font-weight: bold;
}

.center{
  text-align:center;
}

li{
  padding: 5px 0;
}
/*home page*/
.banner{
  height: 100%;
}


.home{
  text-align: left;
  min-height: 45vh;
  width: 100%;
  padding: 16vh 20px 100px 10px;
  color: #000000;
}

.about{
  text-align: middle;
  min-height: 65vh;
  width: 100%;
  padding: 16vh 20px 200px 10px;
  color: #000000;
}

.casestudy{
  text-align: left;
  min-height: 40vh;
  width: 100%;
  padding: 16vh 20px 150px 10px;
  color: #000000;
}

#portfolio-links a:hover{
  opacity: 0.5;
}

.blue, .fab, .fas, .material-icons{
  color: #5EB1BF;
}

.hoverimg {
    width: 100%;
    height: auto;
    max-width: 450px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.casephoto{
  max-width:95%;
  height: auto;
  display:block;
  margin-left: auto;
  margin-right:auto;
}

.photo{
  max-width:85%;
  height: auto;
  display:block;
  margin-left: auto;
  margin-right:auto;
}

.solutionpics{
  max-width:50%;
  height:auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.small{
  max-width:40%;
  height:auto;
}


.aboutpic{
  max-width:75%;
  height:auto;
}

/*footer*/
footer{
  text-align: center;
}

footer i{
  padding: 0px 15px;
}

.material-icons.md-48 {
   font-size: 48px;
  }

.footer{
  text-align: middle;
  min-height: 10vh;
  width: 100%;
  padding: 10vh 20px 80px 10px;
  color: #000000;
}
